    body {
        margin: 0;
        font-family: 'Bowlby One SC', cursive;
    }
    
    table {
        margin: 20px auto;
    }
    
    h1 {
        text-align: center;
        color: white;
        margin: 0 auto;
        background-color: steelblue;
        letter-spacing: 5px;
        font-size: 70px;
        font-weight: 600;
        padding-bottom: 20px;
        line-height: 0.8;
    }
    
    td {
        width: 100px;
        height: 100px;
        border: 5px solid steelblue;
        text-align: center;
        font-family: 'Permanent Marker', cursive;
        font-size: 60px;
        border-radius: 30%;
        color: rgb(19, 19, 61);
    }
    
    div {
        text-align: center;
        background-color: white;
        border-bottom: 2px solid steelblue;
        font-size: 20px;
    }
    
    button {
        border: none;
        background: no-repeat;
        height: 100%;
        font-family: 'Bowlby One SC', cursive;
        color: steelblue;
        font-size: 20px;
        transition: background-color 0.3s, color 0.6s;
    }
    
    #blank {
        display: inline-block;
        width: 8%;
    }
    
    #msg {
        display: inline-block;
        width: 20%;
        color: rgb(19, 19, 61);
    }
    
    td:hover {
        background-color: steelblue;
    }
    
    button:hover {
        background-color: steelblue;
        color: white;
    }
    
    .mode {
        border-left: 3px solid steelblue;
        border-right: 3px solid steelblue;
    }
    
    .win {
        background-color: steelblue;
    }